*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
 background: linear-gradient(-45deg, #155263, #ff6f3c, #ff9a3c, #ffc93c);;
}
.debug{
  background-color: rgba(255, 0, 0, 0.5);
  border: 1px solid black;
}
.main-wrapper{
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  
}
.carosel{
  width: 60%;
  height: 70%;
  display: flex;
  border-radius: 20px;
  overflow: hidden;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;}
.container-img{
  width:80%;
  position: relative;
}

.title, .subtitle{
  position: absolute;
  padding:0px 10px;
  color: gainsboro;
  background-color: rgba(0, 0, 0, 0.4);
}
.title{
  right:20px;
  border-top-left-radius: 15px ;
  border-top-right-radius: 15px ;

  bottom:28px;
  
}
.subtitle{
  right:20px;
  bottom:10px;
  border-bottom-left-radius: 15px ;
  border-bottom-right-radius: 15px ;
}

.container-img .img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: right;
}
.container-preview{
  width:20%;
  height:100%;
  background-color: black;
  display: flex;
  flex-direction: column;
  position:relative;
}
.container-preview img{
  width:100%;
  height: 20%;
  object-fit: cover;
  object-position: right;
}
.dark{
  opacity: 0.2;
}

.arrow{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30px;
  aspect-ratio: 1/1;
  position: absolute;
  transform: translate(50%,-50%);
  right: 50%;
  background-color: rgba(255, 255, 255, 0.8);
  cursor: pointer;
  border-radius: 50%;
  z-index: 999;
  
}
.arrow.up{
  top:40px;
}
.arrow.down{
  bottom:10px;
  
}
.d-none{
  display: none;

}

